*~
*.swp
*.pyc
*.csv
*.gpg
logs
list_of_transfers
transferred_files
config/*
!config/__init__.py
!config/initial*
!collections/sample_points_v1.csv
collections/sample_points_v1.csv
authentication/*
!authentication/boto_sample_file
!authentication/boto_service_sample
!authentication/service_sample.json
!authentication/credentials_sample_file
!authentication/authenticate_once.bash
!output/sample_report.html
